.l-t-grad {
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 75%);
    background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 75%);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 75%);
}

.d-t-grad {
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(31, 41, 54, 1) 75%);
    background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(31, 41, 54, 1) 75%);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(31, 41, 54, 1) 75%);
}

.t-d-grad {
    @apply bg-gradient-to-b from-transparent to-black/75;
}

.bus-bg {
    background-image: url('../../public/assets/images/bus-background.jpg')
}

.bus-bg-croped {
    background-image: url('../../public/assets/images/bus-background-croped.png')
}

.log {
    background-image: url('../../public/assets/svgs/Logistics-rafiki.svg');
}

.terminal {
    background-image: url('../../public/assets/svgs/airport-terminal-cuate.svg');
}

.bus-1{
    background-image: url('../../public/assets/svgs/city-bus-amico.svg');
}

.bus-2{
    background-image: url('../../public/assets/svgs/city-bus-rafiki.svg');
}

.bus-3{
    background-image: url('../../public/assets/svgs/double-decker-bus-amico.svg');
}

.product-placeholder {
    background-image: url('https://psediting.websites.co.in/obaju-turquoise/img/product-placeholder.png');
}

.audit {
    background-image: url('../../public/assets/svgs/Audit-amico.svg');
}

.logo {
    background-image: url('../../public/assets/svgs/nexfleet-dynamics-logo.svg');
}

.logo-mini {
    background-image: url('../../public/assets/svgs/nexfleet-dynamics-logo-mini.svg');
}