@tailwind base;
@tailwind components;
@tailwind utilities;

.wire-frame-mode * {
    outline: 1px solid rgba(0, 0, 0, 0.2) !important;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.montserrat {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

.quicksand {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

.fredoka {
    font-family: "Fredoka", serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

* {
    @apply poppins-regular;
}

.shad {
    -webkit-box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.1);
}

.py-1p {
    padding-top: 1%;
    padding-bottom: 1%;
}

.btn {
    @apply rounded-md p-2 font-medium cursor-pointer text-background bg-accent hover:bg-primary inline-flex items-center justify-center;
}

.border-card {
    @apply border rounded-lg p-2;
}

.outline-card {
    @apply outline outline-1 rounded-lg;
}

.h-outline-card:hover {
    @apply outline outline-1 rounded-lg;
}

input {
    @apply border rounded-lg p-2;
}

input:focus {
    outline: none;
}

textarea {
    @apply border rounded-lg p-2;
}

textarea:focus {
    outline: none;
}

select {
    @apply border rounded-lg p-2;
}

select:focus {
    outline: none;
}

::selection {
    background: #B2E9FF;
}

[type=checkbox]:checked.l+span.check {
    background: #00446b;
}

[type=checkbox]:checked.d+span.check {
    background: #94d8ff;
}

.content {
    @apply mx-4 mb-4;
}

* {
    @apply duration-100;
}

.header {
    @apply font-medium md:text-2xl text-xl tracking-widest;
}

/* .asd {
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #e5e5f7 40px), repeating-linear-gradient(#444cf755, #444cf7);
} */

.l-grd-blr::after {
    content: "";
    position: absolute;
    inset: 0;

    mask: linear-gradient(to left, transparent, black 35%);
    @apply backdrop-blur;
}

.r-grd-blr::after {
    content: "";
    position: absolute;
    inset: 0;

    mask: linear-gradient(to right, transparent, black 35%);
    @apply backdrop-blur;
}

.t-grd-blr::after {
    content: "";
    position: absolute;
    inset: 0;

    mask: linear-gradient(to top, transparent, black 35%);
    @apply backdrop-blur;
}

.b-grd-blr::after {
    content: "";
    position: absolute;
    inset: 0;

    mask: linear-gradient(to bottom, transparent, black 35%);
    @apply backdrop-blur;
}

.hover-r-grd:hover::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.5);

    mask: linear-gradient(to right, transparent, black 75%);
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

input[data-autocompleted] {
    background-color: transparent !important;
}

.disable:disabled {
    @apply !cursor-not-allowed !bg-gray-300 !text-gray-700 !opacity-50;
}

@layer utilities {
    .disabled\:opacity-50 {
        opacity: 0.5;
        pointer-events: none;
    }

    .disabled\:bg-gray-300 {
        background-color: #d1d5db;
    }

    .disabled\:text-gray-500 {
        color: #6b7280;
    }
}